#content>div {
    min-height: 430px;
}

.graph .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
  height: 100%;
}

.plot, .miniplot {
    stroke: none;
    fill: steelblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

text {
    color: #fff;
}

svg {
    display: block;
    font-size: 11px;
}