{% extends "base.html" %}
{% block header %}
<script src="/static/js/app.js"></script>
<script src="/static/js/models.js"></script>
<script src="/static/js/collections.js"></script>
<script src="/static/js/views.js"></script>
<script src="/static/js/project.js"></script>
<script type="text/javascript">
    window.project = {% if project %}'{{ project }}'{% else %}null{% endif %};
</script>
<script type="text/html" id="instrument_template">
    <h2><%= get('name') %></h2>
    <div class="graph">
    </div>
</script>
<link rel="stylesheet" type="text/css" href="/static/css/app.css" />
{% include "templates.html" %}
<title>Statistician</title>
{% endblock %}
{% block body %}
<div class="row-fluid">
    <div id="sidebar-left" class="span1">
        <div class="nav-collapse sidebar-nav">
            <ul class="nav nav-tabs nav-stacked main-menu">
                <li class="active" data-tab="">
                    <a href="#">
                        <i class="fa-icon-bar-chart"></i>
                        <span> Dashboard</span>
                    </a>
                </li>
                <li data-tab="servers">
                    <a href="#">
                        <i class="fa-icon-hdd"></i>
                        <span> Servers</span>
                    </a>
                </li>
                <li data-tab="events">
                    <a href="#">
                        <i class="fa-icon-calendar"></i>
                        <span> Events</span>
                    </a>
                </li>
                <li data-tab="metrics">
                    <a href="#">
                        <i class="fa-icon-dashboard"></i>
                        <span> Metrics</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content" class="span11">
        <div data-content="">
            <div class="row-fluid stats-date">
                <div>Dashboard</div>
                <div class="range" id="date_range">loading...</div>
            </div>
            <div class="row-fluid" id="instruments">
            </div>
        </div>
        <div data-content="servers" style="display:none">
            <div class="row-fluid stats-date">
                <div>Servers</div>
                <div class="range" id="date_range">loading...</div>
            </div>
        </div>
        <div data-content="events" style="display:none">
            <div class="row-fluid stats-date">
                <div>Events</div>
                <div class="range" id="date_range">loading...</div>
            </div>
        </div>
        <div data-content="metrics" style="display:none">
            <div class="row-fluid stats-date">
                <div>Metrics</div>
                <div class="range" id="date_range">loading...</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}