{% extends "base.html" %}
{% block header %}
<script src="/static/js/app.js"></script>
<script src="/static/js/models.js"></script>
<script src="/static/js/collections.js"></script>
<script src="/static/js/views.js"></script>
<script src="/static/js/project.js"></script>
<script type="text/javascript">
    window.project = {% if project %}'{{ project }}'{% else %}null{% endif %};
</script>
<script type="text/html" id="instrument_template">
    <h2><%= name %></h2>
    <ul class="legend">
    <% if (legend) { _.each(readings, function (reading) { %>
        <li><span class="legend-color" style="background-color: <%= reading.stroke %>"></span><%= reading.name %></li>
    <% }); } %>
    </ul>
    <span class="latest"></span>
    <div class="loading"></div>
    <div class="graph" style="display: none">
    <div class="labelEl" style="display: none"><ul></ul></div>
    </div>
</script>
<script type="text/html" id="event_template">
    <div class="task">
        <span>
            <h3><%= get('name') %></h3>
            <span class="type"><%= get('type') %></span>
            <span class="details"><%=get('description') %></span>
        </span>
        <div class="arrow"></div>
    </div>
    <div class="icon">
    </div>
    <div class="time"><%= moment(get('timestamp')).fromNow() %></div>
</script>
<link rel="stylesheet" type="text/css" href="/static/css/app.css" />
{% include "templates.html" %}
<title>Statistician</title>
{% endblock %}
{% block body %}
<div class="row-fluid">
    <div id="sidebar-left" class="span1">
        <div class="nav-collapse sidebar-nav">
            <ul class="nav nav-tabs nav-stacked main-menu">
                <li class="active" data-tab="">
                    <a href="#">
                        <i class="fa-icon-dashboard"></i>
                        <span> Dashboard</span>
                    </a>
                </li>
                <li data-tab="reports">
                    <a href="#reports">
                        <i class="fa-icon-bar-chart"></i>
                        <span> Reports</span>
                    </a>
                </li>
                <li data-tab="events">
                    <a href="#events">
                        <i class="fa-icon-calendar"></i>
                        <span> Events</span>
                    </a>
                </li>
                <li data-tab="servers">
                    <a href="#servers">
                        <i class="fa-icon-hdd"></i>
                        <span> Servers</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content" class="span11">
        <div data-content="">
            <div class="row-fluid stats-date">
                <h1>Dashboard</h1>
            </div>
            <div class="row-fluid" id="instruments">
            </div>
        </div>
        <div data-content="reports">
            <div class="row-fluid stats-date">
                <h1>Reports</h1>
            </div>
        </div>
        <div data-content="events" style="display:none">
            <div class="row-fluid stats-date">
                <h1>Events</h1>
                <div class="timeline"></div>
            </div>
        </div>
        <div data-content="servers" style="display:none">
            <div class="row-fluid stats-date">
                <h1>Servers</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}